:root{
    --grid-height: 0;
    --grid-width: 0;
    --white: #e3ede8;
    --black: #0f1f17;
    
}

main{
    display: grid;
    grid-template-rows: repeat(var(--grid-height), 1fr);
    column-gap: 2px;
    row-gap: 2px;
    
}

.row{
    display: inline-flex;
    gap: 2px;
    width: unset;
}

.col{
    height: 2rem;
    width: 2rem;
    border: 1px solid black;
    text-align: center;
}

.bomb{
    background-color: red;

}